.running {
    color:#396EB0;
    height: 250px;
    font-size: 7rem;
    padding: 5rem;
    text-align: center;
}

.options-home {
    width:100%;
    padding-top: 0rem;
}

.getStarted {
    width: 200px;
    height: 60px;
    margin: auto;
    background-color:#FC997C ;
    color: white;
    border: none;
    border-radius: 10px;
}

.getStarted:hover{
    cursor: pointer;
}

.vertical-center {
    width: 412px;
    margin: auto;
  }

  .container-home {
      padding-top: 5rem;
  }

.header-profile {
    padding-top:2rem;
    width: 100%;
    height: 200px;
    background-color: #396EB0;
    display: flex;
    justify-content: space-around;
}

.header-left {
    width: 50%;
}

.header-right {
    width: 50%;
}

